<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <span class="fs-4">
                    <img th:src="@{img/logo.png}" alt="logo" style="width: 70px; height: auto;" />
                </span>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#/" class="nav-link px-2 link-body-emphasis text-light">HOME</a></li>
                <li><a href="#" class="nav-link px-2 link-body-emphasis text-light">SHOP</a></li>
                <li><a href="#categoria" class="nav-link px-2 link-body-emphasis text-light ">CATEGORIAS</a></li>
                <li><a href="#about" class="nav-link px-2 link-body-emphasis text-light ">ABOUT</a></li>
                <li><a href="#contactus" class="nav-link px-2 link-body-emphasis text-light ">CONTACT US</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <a href="#">
                <i class="bi bi-cart px-4" style="font-size: x-large; color: white;"></i>
            </a>

            <div class="dropdown text-end">
                <a class="d-block link-body-emphasis text-decoration-none dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle" style="font-size: x-large; color: white;"></i>
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Iniciar Sesion</a></li>
                    <li><a class="dropdown-item" href="#">¡Registrarse!</a></li>
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Salir</a></li>
                </ul>
            </div>

        </div>
    </div>
</header>
