/*HEADER*/
/* Personaliza la flecha del dropdown en el header*/
.dropdown-toggle::after {
    border-top-color: white;
}

/* Deja fijo el header */
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

/* Cambia a tu color deseado cuando se hace scroll */
header.scrolled {
    background-color: #131a20;
}
/*----------------------------------------------------*/

/*INDEX*/
/*Img de fondo en index*/
#index{
    background: url('../img/fondo.png');
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%; 
    width: 100%;
}

/* Fondo del div de las categorias */
#categoria{
    background-color: #486481;
    text-align: center;
    color: white;
}

/*Estilos a las categorias*/
#categ{
    display: inline-block;
    margin: 0 20px;
}

#categ img{
    display: block;
    margin: 0 auto;
}

#categ a{
    color: white;
    display: block;
    text-decoration: none;
}

/* Estilo a las razones */
#razones{
    display: flex;
    padding-right: 100px;
}

/* Contact us */
#contactus{
    background-color: #486481;
    text-align: center;
    color: white;
}

/* Redondear img */
.rounded-image {
    border-radius: 100px;
}
/*----------------------------------------------------*/