<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="~{/fragments/head :: head}"></head>

    <body>
        <div id="index">
            <header th:replace="~{/fragments/header :: header}"></header>

            <br><br><br><br><br><br><br><br>
            <div class="px-4 py-5 my-5 text-center text-light">
                <h1 class="display-5 fw-bold">TRUE BLUE</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Descubre la perfecta fusión entre moda y funcionalidad al explorar nuestro extenso catálogo
                        que se adaptan a todas las ocasiones. Desde los clásicos y versátiles modelos hasta las últimas tendencias, 
                        tenemos la prenda ideal para cada personalidad y estilo de vida.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <button type="button" class="btn btn-light">SHOP NOW</button>
                    </div>
                </div>
            </div>
            <br><br><br><br><br><br><br><br>

            <div id="categoria">
                <br><br>
                <h3>EXPLORE NUESTRAS CATEGORIAS</h3>
                <br>
                <div>
                    <div id="categ">
                        <a href="#"><img th:src="@{img/pantalon.png}"/></a>
                        <br>
                        <a href="#">PANTALONES</a>
                    </div>
                    <div id="categ">
                        <a href="#"><img th:src="@{img/remera.png}"/></a>
                        <br>
                        <a href="#">REMERAS</a>
                    </div>
                    <div id="categ">
                        <a href="#"><img th:src="@{img/camisa.png}"/></a>
                        <br>
                        <a href="#">CAMISAS</a>
                    </div>
                    <div id="categ">
                        <a href="#"><img th:src="@{img/campera.png}"/></a>
                        <br>
                        <a href="#">CAMPERAS</a>
                    </div>
                    <div id="categ">
                        <a href="#"><img th:src="@{img/zapatillas.png}"/></a>
                        <br>
                        <a href="#">ZAPATILLAS</a>
                    </div>
                </div >
                <br><br>
            </div>

            <div style="text-align: center;">
                <br><br>
                <h3>RAZONES PARA ELEGIRNOS</h3>
                <br>
                <div class="container">
                    <div class="row">
                        <div id="razones" class="col-md-6">
                            <svg th:replace="~{/fragments/check :: svg}"></svg>
                            <br>
                            <p class="lead mb-4">
                                Variedad Excepcional: En nuestra tienda, ofrecemos una amplia gama de estilos, 
                                desde lo clásico hasta las últimas tendencias. Sea cual sea tu preferencia, 
                                encontrarás opciones que se adaptan a tu estilo único.
                            </p>
                        </div>
                        <div id="razones" class="col-md-6">
                            <svg th:replace="~{/fragments/check :: svg}"></svg>
                            <br>
                            <p class="lead mb-4">
                                Calidad Inigualable: Nos comprometemos a ofrecer ropa de la más alta calidad. 
                                Trabajamos con diseñadores de renombre y materiales premium para garantizar 
                                durabilidad y comodidad en cada prenda que elijas.
                            </p>
                        </div>
                        <div id="razones" class="col-md-6">
                            <svg th:replace="~{/fragments/check :: svg}"></svg>
                            <br>
                            <p class="lead mb-4">
                                Actualización Constante: Mantenemos nuestra colección al día con las últimas 
                                tendencias de moda. Con actualizaciones frecuentes, siempre encontrarás 
                                nuevas opciones emocionantes para mantener tu guardarropa moderno y a la moda.
                            </p>
                        </div>
                        <div id="razones" class="col-md-6">
                            <svg th:replace="~{/fragments/check :: svg}"></svg>
                            <br>
                            <p class="lead mb-4">
                                Compromiso con la Sostenibilidad: Nos preocupamos por el medio ambiente. 
                                Ofrecemos opciones sostenibles y eco-amigables para aquellos que buscan 
                                un estilo consciente y respetuoso con el planeta.
                            </p>
                        </div>
                        
                        
                    </div>
                </div>













            </div>


            <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>


            <!--<footer th:replace="~{/fragments/footer :: footer}"></footer>-->
        </div>
    </body>
</html>
